{% extends "backend/config.html" %}
{%- block page_header -%}
    {% if s %}
        <h1>{{ s.scaffold_title(route.action) }}</h1>
        {{ s.scaffold_buttons(False) }}

        <div class="btn-group">
            <a href="javascript: saveFormAndGoBack();" class="btn btn-white"><i class="icon">save</i> 寄送</a>
        </div>
    {% endif %}
{% endblock %}

{% block page_big_header %}
<div class="ibox-content m-b-sm border-bottom page-big-header">
    <div class="p-xs">
        <div class="pull-left m-r-md">
            <i class="material-icons mid-icon brand-text-color">mail</i>
        </div>
        <h2>郵件寄送</h2>
        寄送郵件使用:
            <select id="mail_sender">
                <option value="0">Google App Engine</option>
                <option value="1">Mail Gun</option>
            </select>。
            <input type="hidden" name="use" id="use" value="{{ use }}" />
    </div>
</div>
{% endblock %}

{% block page_scripts %}
    <div>
        <input type="text" id="n_send_to" value="{{ send_to }}" />
        <input type="text" id="n_title" value="{{ title }}" />
        <input type="text" id="n_content" value="{{ content }}" />
    </div>
<script type="text/javascript">
    (function(page){
        page.init = function(){
            $("#mail_sender").val($("#use").val()).change(function(){
                $("#use").val($(this).find(":selected").val());
                $("#send_system").val($(this).find(":selected").val());
            });
            $("#send_to").val($("#n_send_to").val());
            $("#title").val($("#n_title").val());
            $("#content").val($("#n_content").val());
        };
        page.init();
    })(page);
</script>
{% endblock %}