{% extends "backend/config.html" %}
{% block page_big_header %}
<div class="ibox-content m-b-sm border-bottom page-big-header">
    <div class="p-xs">
        <div class="pull-left m-r-md">
            <i class="material-icons mid-icon brand-text-color">mail</i>
        </div>
        <h2>郵件寄送設定</h2>
        寄送郵件使用:
            <select id="mail_sender">
                <option value="0">Google App Engine</option>
                <option value="1">Mail Gun</option>
            </select>。
    </div>
</div>
{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
    (function(page){
        page.init = function(){
            $("#mail_sender").val($("#use").val()).change(function(){
                $("#use").val($(this).find(":selected").val());
            })
        };
        page.init();
    })(page);
</script>
{% endblock %}